* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL CODE */


body {
    font-family: 'Times New Roman', Times, serif;
}
/* main-code */

/* Phần header */
#main {
    position: relative;
}

#header {
    height: 70px;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

#menu {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    line-height: 70px;
    margin: auto;
    font-size: 22px;
}

#menu .menu-icon {
    line-height: 68px;
    display: inline-block;
    padding: 0 16px;
}

#menu .menu-icon:hover {
    color: black;
    background-color: #ccc;
    cursor: pointer;
}

/* Phần content */
#content {
    padding-top: 100px;
    max-width: 1200px;
    margin: auto;
}

#content .content--part-1,
#content .content--part-2 {
    padding: 16px 8px;
    display: flex;
    justify-content: center;
}
#content .cards {
    max-width: 272px;
    line-height: 1.4;
    transition: transform 0.3s;   
}

.cards:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

#content .cards .card-image {
    max-width: 272px;
    padding: 0 8px;
    display: block;
}

#content .content--description {
    display: inline-block;
    text-align: center;
    color: #000000;
}

#content .content--description .content--heading {
    font-weight: lighter;
    font-size: 24px;
    margin: 10px 0;
}

#content .content--description .content-paragraph {
    font-size: 17px;
    margin: 15px 0;
    font-weight: 100;
    opacity: 0.8;
}

#content .list-page {
    display: flex;
    justify-content: center;
    padding: 32px 0;
}

#content .list-page .list-page--page-1 {
    background-color: black;
    color: white;
}

#content .list-page li {
    list-style-type: none;
    
}

#content .list-page li:hover a{
    background-color: black;
    color: white;
    cursor: pointer;
}

#content .list-page a {
    text-decoration: none;
    color: black;
    padding: 8px 16px;
}

#content .list-page .arrow-icon {
    font-size: 11px;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
    max-width: 1200px;
}

#content .describe-chief {
    padding: 32px 16px;
    text-align: center;
}

#content .describe-chief h2 {
    font-size: 24px;
    font-weight: lighter;
    margin: 10px 0;
}

#content .describe-chief .chef-image {
    padding-top: 20px;
}

#content .chef-content {
    padding: 32px 0;
}

#content .chef-content h3 {
    font-size: 25px;
    margin: 10px 0;
    font-weight: bold;
}

#content .chef-content .chef--sub-heading {
    font-size: 18px;
    font-style: italic;
    margin: 10px 0;
}

#content .chef-content .chef--content {
    line-height: 1.4;
    font-size: 16px;
    margin: 15px 0;
}

/* Phần footer */

#footer {
    max-width: 1200px;
    margin: auto;
}

#footer .footer-items {
    display: flex;
    padding: 32px 8px;
}

#footer .footer-items .space-footer {
    flex: 1;
    padding: 0 8px;
}

#footer .footer-items .footer-heading {
    font-size: 24px;
    font-weight: lighter;
    margin: 10px 0;
}

#footer .footer .footer-content {
    font-size: 17px;
    margin: 15px 0;
    line-height: 1.4;
}

.blog-sports--image {
    height: 50px;
    width: 50px;
    margin-right: 16px;
}

#footer .blog-posts .footer-items {
    display: flex;
    padding: 16px;
}

.footer-workshop {
    border-bottom: 1px solid #eee;
}

#footer .popular-tags .popular-tags--list {
    display: flex;
    flex-wrap: wrap;
}

#footer .popular-tags--list li {
    list-style-type: none;
    
    
}

/* #footer .popular-tags--list li:first-child {
    font-size: 17px;
  }
   */

.tag-list {
    list-style-type: none;
    background-color: #616161;
    margin-bottom: 16px;
    margin-right: 4px;
    color: white;
    padding: 0 8px;
    font-size: 12px;
    cursor: pointer;
    display: inline;
}





.open-modal {
    display: block;
}


.modal {
    position: fixed;
    background-color: white;
    max-width: 540px;
    height: 100vh;
    z-index: -1;
}








